---
layout: default
---


<h1>Aktuelles</h1>

<style>
h2 {display: inline}
</style>




<ul>
    {% for post in site.posts %}
      <li>
            <header>
                <h2>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
                
            </header>

        
        <body>
            {{ post.excerpt | markdownify | strip_html | truncatewords: 50 }}
        </body>
        <br>
        <br>
        
          

      </li>
    {% endfor %}
  </ul>

